body{
padding: 0px;
margin: 0px;
}
.header{
background-color: #1A3333;
color:white;
text-align:center;
top:0p;
width:100%;
padding:5px;
}
form{
	
	width:40%;
	padding: 30px;
	border: 1px solid #cbcbcb;
	margin: 5px auto;
}
.textfield{
	margin-top: 2px;
	height:28px;
	border:1px solid #546e66;
	font-size:16px;
	padding:1px;
	width:100%;
}
#error_msg{
	width:50%;
	margin:5px auto;
	height:30px;
	border:1px solid #FF0000;
	background:#FFB9B8;
	text-align:cebter;
	padding-top:10px;
}
td{
	text-align:right;
}